@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }



  /* nav style */
  .nav-container{
    border: 2px solid red;
display: flex;
flex-direction: row;
justify-content: space-between;

  }
.logo{
    color: rgb(255, 182, 80);
  }

  .first-nav{
    display: flex;
  }
  .nav-container {

display: flex;
flex-direction: row;
align-items: flex-end;

  }
  .nd-nav{
display: flex;
font-display: row;
justify-content: space-between;
text-decoration: none;
  }
  ul{
    display: flex;
flex-direction: row;
text-decoration: none;
justify-content: space-around;
order: none;
  }
  .image-container{
    height: 500px;
    width: 1343px;
  
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .image-container>h1, p{
    color: beige;
  }
  .dropbox-container{
    /* Frame 1 */
position: relative;
width: 800px;
height: 84px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 16px;

border-radius: 8px;

background: rgba(255, 255, 255, 0.3);

  }
  .dp-element{
  

width: 174px;
height: 52px;
left: 16px;
right: -16px;
top: 16px;
bottom: -16px;
border-radius: 8px;
padding: 5px;
margin: 5px;
background: rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: center;
  }
  .text-direction{
    
  }